<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Publicado: 4.10.2018, 19:51</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Congratulation!!! Javier Has completado con exito tu primer post ....
ibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>Publicado: 4.10.2018, 19:51</p>
            <h2><a href="">Mi Segundo post</a></h2>
            <p>Congratulation!!! Javier Has completado con exito tu Segundo post ..... Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
